@model CardapioModel
@{
    ViewData["Title"] = "Apagar Cardapio";
}

<div class="container">
    <main role="main" class="pb-3">
        <h1 class="display-4 text-center pt-3 mb-5">Realmente deseja apagar o cardápio do dia @Model.DATA_CARDAPIO</h1>
        <section>
            <a role="button" class="btn btn-outline-secondary w-100 mb-2" asp-controller="Cardapio" asp-action="GerenciarCardapio">Voltar</a>
            <a role="button" class="btn btn-outline-danger w-100" asp-controller="Cardapio" asp-action="DeletarCardapio" asp-route-id="@Model.ID_CARDAPIO">Confirmar Deleção</a>
        </section>
    </main>
</div>